html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  color: rgb(55, 55, 55);
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%;
  border: 2px solid;
  max-width: 470px;
  border-radius: 20px;
  background-color: rgb(55, 55, 55);
}

.display {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 30px;
  height: 100px;
  width: 430px;
  margin: 20px 20px 0px 20px;
  background-color: lightgray;
  border-radius: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100px;
  background-color: gray;
  border-radius: 10px;
}

#clear {
  width: 430px;
  background-color: lightcoral;
  color: rgb(55, 55, 55);
}

.btn.operator {
  background-color: lightseagreen;
}

footer, a {
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}